* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
a {
    text-decoration: none;
    color: #333333;
}
button {
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    background: transparent;
    outline: none;
}
body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}
header {
    display: flex;
    align-items: center;
    height: 100%;
}
.h1-hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.header-wrapper {
    width: 100%;
    height: 94px;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header-logo {
    width: 59px;
    height: 42px;
    padding-left: 151px;
}
.navigation-wrapper {
    display: flex;
    width: 573px;
    height: 23px;
    margin: 0 470px 0 464px;
    justify-content: space-between;
    align-items: center;
}
.navigation-about {
    border-bottom: 1px solid #333333;
    font-size: 16px;
    line-height: 19px;
    font-weight: 900;
}
.navigation-zoos {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.navigation-map {
    font-size: 16px;
    line-height: 19px;
}
.navigation-contact-us {
    font-size: 16px;
    line-height: 19px;
}
.navigation-design {
    font-size: 16px;
    line-height: 19px;
}

/* style switch-button*/
.switch-wrapper {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch-wrapper input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f2f2f2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    top: 5px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

input:checked + .slider {
    background-color: #4f4f4f;
}

input:focus + .slider {
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background: #1b1b1b;
}

/* Rounded sliders */
.slider.round {
    border-radius: 190px;
}

.slider.round:before {
    border-radius: 50%;
}

.favourite-animal-wrapper {
    background-image: url(../assets/fa-bacground.png);
    background-size: cover;
    width: 100%;
    height: 940px;
}
.fa-title {
    width: 793px;
    padding-top: 206px;
    margin-left: 360px;
    height: 208px;
    font-weight: 900;
    font-size: 89px;
    line-height: 104px;
    color: #fefefe;
}
.online-button {
    display: flex;
    width: 245px;
    height: 55px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    border-radius: 3px;
}
.button-wrapper {
    margin-top: 245px;
    margin-left: 360px;
}
.button-wrapper:hover {
    cursor: pointer;
    background: #2e878d;
}
.button-image {
    width: 32px;
    height: 32px;
}
.button-text {
    width: 130px;
    height: 21px;
    font-weight: 900;
    font-size: 18px;
    margin-left: 5px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.fa-socials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 107px;
    margin: 216px 0px 0px 152px;
}
.fa-social-link-instagram {
    width: 20px;
    height: 20px;
    background-image: url(../assets/fa-instagram.svg);
}
.fa-social-link-twitter {
    width: 20px;
    height: 16.25px;
    background-image: url(../assets/fa-twitter.svg);
}
.fa-social-link-youtube {
    width: 20px;
    height: 13.75px;
    background-image: url(../assets/fa-youtube.svg);
}
.fa-social-link-vk {
    width: 20px;
    height: 11.41px;
    background-image: url(../assets/fa-vk.svg);
}

.how-works-wrapper {
    width: 100%;
    max-height: 1296px;
}
.how-works-description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.hw-description {
    width: 790px;
}
.hw-title {
    max-height: 56px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
}
.hw-title-description {
    max-height: 80px;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    margin-bottom: 30px;
}
.how-works-img {
    height: 323px;
    border-radius: 5px;
}
.hw-buttons {
    margin-top: 29px;
    width: 245px;
}
.hw-slider {
    background-image: url(../assets/slider-01-04.svg);
    margin-bottom: 30px;
    height: 49px;
}
.hw-slider:hover {
    cursor: pointer;
}
.hw-button-wrapper {
    margin-bottom: 101px;
}
.hw-button-wrapper:hover {
    cursor: pointer;
    background: #2e878d;
}

.how-works-cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 413px;
    background: #f2f2f2;
}
.inspire-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 213px;
    border-radius: 5px;
}
.mission-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 165px;
    margin-left: 30px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    border-radius: 5px;
}
.believe-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 181px;
    margin-left: 30px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    border-radius: 5px;
}
.card-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 15px 0;
}
.card-description {
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
}
