* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
a {
    text-decoration: none;
    color: #333333;
}
button {
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    background: transparent;
    outline: none;
}
body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

/* Header section */
header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-left: calc(100% - 1769px);
    padding-right: calc(100% - 1771px);
}

.h1-hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.header-wrapper {
    width: 100%;
    height: 94px;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header-logo {
    width: 59px;
    height: 42px;
}
.navigation-wrapper {
    display: flex;
    width: 573px;
    height: 23px;
    justify-content: space-between;
    align-items: center;
}
.navigation-about {
    font-size: 16px;
    line-height: 19px;
}
.navigation-zoos {
    font-size: 16px;
    line-height: 19px;
}
.navigation-map {
    border-bottom: 1px solid #333333;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
}
.navigation-map:hover {
    cursor: default;
}
.navigation-contact-us {
    font-size: 16px;
    line-height: 19px;
}
.navigation-design {
    font-size: 16px;
    line-height: 19px;
}
.navigation-zoos:hover,
.navigation-about:hover,
.navigation-contact-us:hover,
.navigation-design:hover {
    cursor: pointer;
    border-bottom: 1px solid #333333;
}
/* style switch-button*/
.switch-wrapper {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch-wrapper input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f2f2f2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    top: 5px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

input:checked + .slider {
    background-color: #4f4f4f;
}

input:focus + .slider {
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background: #1b1b1b;
}

/* Rounded sliders */
.slider.round {
    border-radius: 190px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Map section */
.map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1287px;
    width: 100%;
    padding-top: 100px;
    background: #f2f2f2;
}
.map-title {
    width: 790px;
    height: 56px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 20px;
}
.map-description {
    width: 790px;
    height: 80px;
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
}
.map-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1199px;
    height: 238px;
    margin-bottom: 80px;
}
.map-slider-images-wrapper {
    display: flex;
    align-items: center;
    width: 1199px;
    height: 157px;
}
.arrow {
    height: 30px;
    width: 30px;
}
.arrow:hover {
    cursor: pointer;
}
.gorilla {
    margin-left: 32px;
}
.panda {
    height: 157px;
    width: 157px;
    margin: 0 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hawk {
    margin: 0 30px;
}
.elephant {
    margin: 0 30px;
}
.zebra {
    margin-left: 30px;
    margin-right: 34px;
}
.map-slider-image:hover {
    cursor: pointer;
    opacity: 0.8;
}
.slider-switcher {
    width: 245px;
    height: 49px;
    margin-top: 32px;
    background-image: url(../assets/slider-dark-0208.svg);
}
.map-block-wrapper {
    position: relative;
    background-image: url(../assets/map.svg);
    width: 1200px;
    height: 498px;
    margin-bottom: 35px;
}
.map-dot-hawk {
    position: absolute;
    background-image: url(../assets/map-hawk-turquoise.svg);
    width: 93.36px;
    height: 105px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    left: 9.1%;
    top: 12.6%;
}
.map-dot-hawk:hover {
    background-image: url(../assets/map-hawk-red.svg);
    cursor: pointer;
}

.map-dot-crocodile {
    position: absolute;
    background-image: url(../assets/map-crocodile-turquoise.svg);
    width: 93.36px;
    height: 105px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    left: 19.25%;
    top: 18.1%;
}
.map-dot-crocodile:hover {
    background-image: url(../assets/map-crocodile-red.svg);
    cursor: pointer;
}
.map-dot-gorilla {
    position: absolute;
    background-image: url(../assets/map-gorilla-turquoise.svg);
    width: 93.36px;
    height: 105px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    left: 46.53%;
    top: 35.85%;
}
.map-dot-gorilla:hover {
    background-image: url(../assets/map-gorilla-red.svg);
    cursor: pointer;
}
.map-dot-panda {
    position: absolute;
    background-image: url(../assets/map-panda-red.svg);
    width: 93.36px;
    height: 105px;
    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    left: 73.3%;
    top: 15.8%;
}
/* .map-dot-panda:hover {
    background-image: url(../assets/map-panda-red.svg);
    cursor: pointer;
} */
.map-tooltip-wrapper {
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 436px;
    justify-content: center;
    align-items: center;
    height: 149px;
    left: -417%;
    top: 81%;
    background: #fefefe;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
}
.map-dot-hawk:hover .map-tooltip-wrapper {
    visibility: visible;
}
.tooltip-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 252px;
    height: 65px;
    margin-left: 20px;
}
.tooltip-title {
    width: 166px;
    height: 21px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}
.tooltip-descrption {
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    margin-bottom: 5px;
}
.tooltip-description-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 5px;
}

.online-button {
    display: flex;
    width: 245px;
    height: 55px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    border-radius: 3px;
}
.button-text {
    width: 130px;
    height: 21px;
    font-weight: 900;
    font-size: 18px;
    margin-left: 5px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.button-wrapper:hover {
    cursor: pointer;
    background: #2e878d;
}

/* Footer section */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 751px;
    padding-left: 151px;
    padding-top: 100px;
    background: #333333;
}
.footer-wrapper {
    display: flex;
}
.footer-contact-wrapper {
    display: flex;
    width: 385px;
    flex-direction: column;
    margin-right: 441px;
    align-items: start;
}
.contact-title {
    width: 97px;
    height: 23px;
    margin-top: 57px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #fefefe;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer-contact-name {
    background: transparent;
    width: 383px;
    height: 26px;
    margin-top: 33px;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    border-top-width: 0px;
    border-right-width: 0px;
    color: #e0e0e0;
    border-left-width: 0px;
    border-bottom: 1px solid #bdbdbd;
}
.footer-contact-email {
    background: transparent;
    width: 383px;
    height: 26px;
    margin: 20px 0;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    color: #e0e0e0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom: 1px solid #bdbdbd;
}
::-webkit-input-placeholder {
    color: #e0e0e0;
}
::-moz-input-placeholder {
    color: #e0e0e0;
}
.textarea-wrapper {
    border-radius: 3px;
    width: 383px;
    height: 115px;
    margin-top: 3px;
}
.footer-contact-message {
    width: 382px;
    height: 100px;
    background: transparent;
    border: none;
    resize: none;
    color: #e0e0e0;
}
.footer-contact-message:focus {
    outline: none;
}
.footer-contact-message-title {
    width: 153px;
    height: 12px;
    font-size: 12px;
    margin-left: 3px;
    padding-right: 5px;
    line-height: 14px;
    color: #bdbdbd;
}
.footer-contact-agree-wrapper {
    width: 245.15px;
    height: 14px;
    margin-top: 25px;
}
.footer-contact-agree {
    width: 224px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.footer-contact-agree-input {
    width: 13px;
    height: 13px;
    margin-right: 6px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 1px;
}
.footer-contact-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108px;
    height: 16px;
    margin-left: 259px;
    margin-top: 20px;
}
.footer-contact-button:hover {
    cursor: pointer;
}
.footer-contact-button-text {
    width: 36px;
    height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.footer-information-wrapper {
    width: 945px;
    display: flex;
    flex-direction: column;
}
.footer-navigation-wrapper {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}
.footer-navigation {
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fefefe;
}
.footer-button {
    width: 279px;
    height: 55px;
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.footer-button:hover {
    cursor: pointer;
    background: #2e878d;
}

.footer-address-wrapper {
    max-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-address-title {
    width: 136.15px;
    height: 16px;
    margin-top: 74px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fefefe;
}
.zoo-address {
    width: 173px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    color: #fefefe;
}
.zoo-work-time {
    width: 190px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
    margin-bottom: 20px;
}
.address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 247px;
    height: 37px;
}
.zoo-phone {
    width: 104px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.zoo-email {
    width: 143px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}

.footer-socials-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    height: 20px;
    margin-top: 20px;
}
.footer-line {
    width: 1620.04px;
    height: 0px;
    border: 0.5px solid #fefefe;
    margin: 60px 147.96px 0 0;
}
.project-copiright-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    height: 33px;
    margin-top: 28px;
}
.project-copiright-name {
    width: 103px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.project-copiright {
    width: 193px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
